h1{

    margin-top: 50px;
    text-align: center;
}
body{
    height: 900px;
    background-image: url('bg.jpg');
    background-size: cover;
}
#myrow{
    margin-left: 60px;
}
#myRow1{
    margin-left: 60px;
}